<!DOCTYPE html>
<html>
<head>
    <title>PCP</title>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <h1>PCP</h1>
    <form action="/pcp" method="GET">
        <label for="first_name">Patient First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Patient Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
        <button type="submit">Get PCP</button>
    </form>

    <h1>Update Patient's PCP</h1>
    <form id="updateForm" onsubmit="sendPutPCPRequest(event)">
        <label for="pcp_id_update">PCP ID to update:</label>
        <input type="text" id="pcp_id_update" name="pcp_id" required><br>
        <label for="new_pcp_name">New PCP Name:</label>
        <input type="text" id="new_pcp_name" name="new_pcp_name"><br>
        <label for="new_pcp_location">New PCP Location:</label>
        <input type="text" id="new_pcp_location" name="new_pcp_location"><br>
        <label for="new_pcp_phone">New PCP Phone:</label>
        <input type="text" id="new_pcp_phone" name="new_pcp_phone"><br>
        <input type="submit" value="Update">
    </form>

    <h1>Add PCP</h1>
    <form id="addPCPForm" action="/pcp" method="POST">
        <label for="pcp_id">PCP ID:</label>
        <input type="text" id="pcp_id_add" name="pcp_id" required><br>
        <label for="add_pcp_name">PCP Name:</label>
        <input type="text" id="add_pcp_name" name="add_pcp_name"><br>
        <label for="add_pcp_location">PCP Location:</label>
        <input type="text" id="add_pcp_location" name="add_pcp_location"><br>
        <label for="add_pcp_phone">Phone:</label>
        <input type="text" id="add_pcp_phone" name="add_pcp_phone"><br>
        <input type="submit" value="Add PCP">
    </form> 
</body>